<!-- Container: Bild, Login, Learn more-->
<div id="flex-container-login">
    <!-- Register/Login/Password forgot -->
    <div id="flex-item-login">
        <div ng-include="activeTemplate"/>
    </div>

    <!-- Learn more -->
    <div id="flex-item-downer">
            <a href="#Services"> <!-- Delete me oder fixen -->
                <span class="glyphicon glyphicon-menu-down" id="downer"></span>
            </a>
    </div>
</div>

<!-- Services Section -->
<div class="container text-center">
    <p class="landing-page-services-section">
    <h2>WHAT WE OFFER</h2>
    </p>
    <p class="landing-page-services-section">
    <h3>FOR TRAVELERS</h3>
    </p>
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-road"></span>
            <h4>TRIP PLANNING</h4>
            <p>Your itinerary - all information at a glance!</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-comment"></span>
            <h4>SOCIAL TRAVELLING</h4>
            <p>Get in touch with other travelers!</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-star"></span>
            <h4>LOCALIZED OFFERS</h4>
            <p>See what's up at town!</p>
        </div>
    </div>
    <br><br>
    <p class="landing-page-services-section">
        <h3 id="Services"> <!-- Delete me oder fixen -->
            FOR COMPANIES
        </h3>
    </p>
    <br>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <h4>MARKET PLACE</h4>
            <p>Attract travelers attention!</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench"></span>
            <h4>TRAVELER ANALYTICS</h4>
            <p>Get to know your customer base!</p>
        </div>
    </div>
</div>

