<p align="center" style="margin-top: 5%; color: rgb(0,166,208)">
    <i>Enter your email address and we will send you a temporary password.</i>
    <input type="text" class="form-control login-control" placeholder="Email" required>
    <a ng-click="forgotPassword()" class="btn btn-primary" role="button" style="background-color: rgb(43,182,115); border-color: rgb(43,182,115); margin: 5px 0">Send email</a><br>
    <i><a ng-click="backToLogin()" style="color: rgb(0,166,208); font-size:1em"><span class="glyphicon glyphicon-chevron-left"></span>Back to login</a></i>
</p>