#section1 {
    color: #fff;
    background-color: #1E88E5;
    padding: 10px;
}

#section2 {
    color: #fff;
    background-color: #673ab7;
}

#section3 {
    color: #fff;
    background-color: #ff9800;
}

#section4 {
    color: #fff;
    background-color: #00bcd4;
}
#distanceLocation {
    padding-bottom: 10px;
}
#distanceDestination {
    padding-bottom: 10px;
}
#distanceUser {
    padding-bottom: 10px;
}
.messengerUser {
    font-size: small;
}

.inactive{
    background-color: #d9edf7;
    border-radius: 4px;
}

.messengerMessage{
    font-weight: bold;
}