.tripmap {
  height: 400px;
}
.dividor {
  padding-bottom: 15px;
}
.btn-socks {
  background-color: rgb(0, 166, 208);
  color: white;
}
.btn-sandals {
  background-color: rgb(43, 182, 115);
  color: white;
}