.btn-padding {
  margin-top: 5px;
  margin-bottom: 5px;
}
.flex-container-analytics {
  display: -webkit-flex;
  height: 70px;
  background-color: rgba(43, 182, 115, 1);
  background-size: contain;
  padding: 1%;
  flex-direction: column;
  align-itmes: stretch;
  margin-bottom: 2%;
}
.mytrips-analytics-boxheader{
  font-size: medium;
}
.flex-item-analytics-overview-boxheader{
  align-self: flex-start;
  margin: 0px 0 0px 0;
  color: ghostwhite;
  font-weight: bold;
  font-size: large;
}
.check-analytics {
  padding-top: 0;
  margin-left: 255px;
}
.white {
  color: white;
}